# 업로드해야 할 폴더 및 파일
!Assets/
!Packages/
!ProjectSettings/
!UserSettings/
!README.md

# 제외할 폴더 및 파일

# Unity 기본 캐시 및 빌드 파일
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/

# 메모리 캡처 및 녹화 파일
/[Mm]emoryCaptures/
/[Rr]ecordings/

# Visual Studio 및 Rider 관련 파일
.vs/
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity 충돌 리포트 및 임시 파일
sysinfo.txt

# 빌드 결과물
*.apk
*.aab
*.unitypackage
*.app

# Crashlytics 생성 파일
crashlytics-build.properties

# Packed Addressables (임시 빌드 파일)
[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Android StreamingAssets 자동 생성 파일
[Aa]ssets/[Ss]treamingAssets/aa.meta
[Aa]ssets/[Ss]treamingAssets/aa/*

# JetBrains Rider 자동 생성 플러그인
[Aa]ssets/Plugins/Editor/JetBrains*

# Asset Store Tools Plugin (필요하지 않을 경우)
[Aa]ssets/AssetStoreTools*
